
@media only screen and (max-width: 600px) {

    .footer a {

      margin-right: 10px; /* Adjust the margin for mobile view */

      font-size: 14px; /* Adjust the font size of icons for mobile view */

    }

  }

body {
    font-family: 'Arial', sans-serif;
    background-color: #d9dbdf;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;
    width: 100%;
}

/* Homepage.css*/

.navbar {
    background: linear-gradient(to bottom, #e3d9a8 0%, #eb92eb 100%);
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 64, 193, 0.8);
    padding: 20px 0;
    z-index: 1000;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    position: sticky;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgb(12, 12, 12);
}

.nav-link {
    text-decoration: none;
    color: rgb(40, 36, 36);
    font-weight: bold;
    padding: 0 20px;
}

#card-container {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin: 0 auto;
    /* center the container */
}

.container {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px;
    background-color: #e7dcdc;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 500px;
}

.items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.container h1 {
    color: #3388dc;
    font-size: 2.7em;
    margin-top: -20px;
}

.card {
    max-height: 100%;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    padding: 5px;
    background-color: #ffffff;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    order: 1;
}

.card p {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.card img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    height: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
    order: 2;
}

.card p {
    color: #131111;
    font-size: 1em;
    margin-bottom: 10px;
    order: 3;
}

.app-footer {
    font-size: 0.85em;
    color: #aaa;
    margin-bottom: 15px;
    display: block;
}

.delete-btn,
.edit-btn {
    padding: 2px 2px;
    font-size: 0.8em;
    color: #faf5f5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    background-color: #101010;
    margin-right: 10px;
}

.delete-btn {

    margin-right: 10;

}

.card button:hover,
.card a:hover {
    background-color: #101010;
}

.card a {
    background-color: #151514;
}

.card a:hover {
    background-color: #0f0f0e;
}

.footer {
    background-color: #0c0b0b;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

/* CreateBlog Styles */
.container {
    max-width: 600px;
    margin: 5px auto;
    background-color: #cfc0c0;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding: 0 20px;
    border: 2px solid black;
    margin-top: 30px;
    min-height: 500px;
}

.container input {
    width: 100%;
    padding: 2px 2px;
    margin: 10px 0;
    border: 1px solid #e4cdcd;
    border-radius: 4px;
    font-size: 1em;
    background-color: #ecf0f1;
    outline: none;
    transition: border-color 0.3s;
}

.container input:focus {
    border-color: #3498db;
}

.container button {
    padding: 2px 2px;
    background-color: #161616;
    border: none;
    border-radius: 4px;
    color: #d1cbcb;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #2980b9;
}

.form {
    width: 100%;
    max-width: 600px;
    margin-top: 0;
}

.input,
.big-input {
    width: 100%;
    margin: 5px 0;
    /* Reduced margin for less space between inputs*/
    padding: 12px;
    box-sizing: border-box;
}

.big-input {
    font-size: 1.2em;
}

.textarea {
    width: 100%;
    height: 150px;
    margin: 5px 0;
    /* Reduced margin for less space between textarea and other inputs */
    padding: 10px;
    box-sizing: border-box;
}

.button {
    margin: 10px 0;
    padding: 10px 20px;
}

/* EditBlog Styles */

.select {
    padding: 10px;
    border: 3px solid #2943ed;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.input-field {
    padding: 10px;
    border: 1px solid #dcdce9;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.container {
    max-width: 700px;
    height: 100px;
    margin: 10px auto;
    padding: 5px;
    background-color: #ffffff;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    text-align: center;
    overflow: auto;
    /* Add scrollbars if content overflows */
    word-wrap: break-word;
    /* Break words to prevent overflow */
}

h1 {
    color: #1f85eb;
    font-size: 3em;
    text-align: center;
}

h2 {
    color: #7f8c8d;
    font-size: 1.5em;
    margin-bottom: 25px;
    font-weight: normal;
    font-style: italic;
}

select,
.input-field {
    width: 100%;
    padding: 12px 20px;
    border: 3px solid #090838;
    border-radius: 5px;
    background-color: #ecf0f1;
    font-size: 1em;
    margin: 10px 0;
    outline: none;
    transition: background-color 0.3s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.input-field:focus,
select:focus {
    background-color: #ffffff;
    border-color: #3498db;
}

.button {
    padding: 12px 30px;
    background-color: #161617;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
    font-size: 0.9em;
}

.button:hover {
    background-color: #080808;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}


.nav-btn {
    padding: 10px 20px;
    background-color: #3498db; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px; 
  }
  
  .nav-btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
  }
  